

header{
	background-color:#fff;
	display: grid;
	grid-template-columns: 3fr 1fr;
}
header img {
	width: 3em;
	height: 3em;
}
footer{
	
}
.utan1{
	display: grid;
	grid-template-rows: 1fr 1fr;
	background-color: orange;
}
.utan2{
	display: grid;
	grid-template-columns:1fr 1fr; 
	background-color: lightblue;
}
.vinstrid{
	background-color:orange;
}
.haegrid{
	background-color:orange;
}
.adald{
	background-color: lightblue ;
}
.topmenu {
	display: flex;
	justify-content: flex-end;
}